{% extends 'index.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}
{% block body %}

<form id="csrf-token-form" style="display: none;">
    {% csrf_token %}
</form>
        
    <!--Section to principal section of home page-->
  
    <div class="slogan-div">
        <img class="slogan-img" src="{% static 'media/brand/letras.png' %}">
    </div>
    <div class="wrapper-container-cards">
        <div class="container-cards">
            <div class="product-card">
                <a href="{% url 'accessory' %}">
                    <img class="products-img" id="accessories-img" src="{% static 'media/brand/compnts.png' %}">
                </a>            
                <span id="accessories-span" class="cards-span">Accessories</span>
            </div>
            <div class="product-card">
                <a href="{% url 'components' %}">
                    <img class="products-img" id="components-img" src="{% static 'media/brand/prebuild.png' %}">
                </a>
                <span id="components-span" class="cards-span">Components</span>
            </div>
            <div class="product-card">
                <a href="{% url 'laptops' %}">
                    <img class="products-img" id="laptops-img" src="{% static 'media/brand/alp.png' %}">
                </a>
                <span id="laptops-span" class="cards-span">Laptops</span>
            </div>
            
        </div>
    </div>
    <!--Div for brands-->
    <div class="line-separator brands"></div>
    
    <div class="container-brands">
            <div class="container-img-brand"><img class="intel-img" src="{% static 'media/logos-brand/intel.png' %}" alt="intel-logo"></div>
            <div class="container-img-brand"><img class="asus-img" src="{% static 'media/logos-brand/asus.png' %}" alt="asus-logo"></div>
            <div class="container-img-brand"><img class="msi-img" src="{% static 'media/logos-brand/msi-.png' %}" alt="msi-logo"></div>   
            <div class="container-img-brand"><img class="corsair-img" src="{% static 'media/logos-brand/corsair.png' %}" alt="corsair-logo"></div>
            <div class="container-img-brand"><img class="redragon-img" src="{% static 'media/logos-brand/redragon.png' %}" alt="redragon-logo"></div>
    </div>

    <div class="wrapper-extras">
        <!--Text to the best selling processors section-->
        <div class="text-processors">
            <h2>BEST SELLING PROCESSORS</h2>
        </div>
        <!--Button for the all processors view-->
        <div class="show-all-processors">
            <a href="{% url 'processors' %}">View All Processors</a>
        </div>       
    </div>


    

    <!--Section to the processors carousel-->

    <!--Text to the best selling processors section-->
    <div class="text-processors-m">
        <h2>BEST SELLING PROCESSORS</h2>
    </div>
    <!--Button for the all processors view-->
    <div class="show-all-processors-m">
        <a href="{% url 'processors' %}">View All Processors</a>
    </div>

    <div class="show_products processors">
        <div class="arrow-next"><span>&#x2192;</span></div>
        <div class="arrow-prev"><span>&#x2190;</span></div>
        <div class="product-carousel">
            <div class="cards-container">
                {% for processor in processors|slice:":10" %}
                    <div class="card_product">
                        <a href="{% url 'product' processor.id %}">
                            <img src="{{ processor.primary_img.url }}">
                            <h2>{{ processor.name }}</h2>
                            <span class="product-price">{{ processor.get_format_price }}</span>
                        </a>
                        <span class="span-stock"> &#x2713; Stock</span>
                        <a class="add-cart" href="#" data-product-id="{{ processor.id }}">Add to cart</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="line-separator"></div>
    
    <div class="wrapper-extras">
        <div class="text-cards">
            <h2>BEST SELLING GRAPHICS CARDS</h2>
        </div>
        <div class="show-all-cards">
            <a href="{% url 'graphics' %}">View All Graphics Cards</a>
        </div>
        
    </div>
    
    
    <div class="text-cards-m">
        <h2>BEST SELLING GRAPHICS CARDS</h2>
    </div>
    <div class="show-all-cards-m">
        <a href="{% url 'graphics' %}">View All Graphics Cards</a>
    </div>
    
    <div class="show_products graphics">
        <div class="arrow-next"><span>&#x2192;</span></div>
        <div class="arrow-prev"><span>&#x2190;</span></div>
        <div class="product-carousel">
            <div class="cards-container">
                {% for card in cards|slice:":10" %}
                    <div class="card_product">
                        <a href="{% url 'product' card.id %}">
                            <img src="{{card.primary_img.url}}">
                            <h2>{{card.name}}</h2>
                            <span class="product-price">{{card.get_format_price}}</span>
                        </a>
                        <span class="span-stock"> &#x2713; Stock</span>
                        <a class="add-cart" href="#" data-product-id="{{ card.id }}">Add to cart</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="line-separator"></div>

    <div class="wrapper-extras">
        <div class="text-laptops">
            <h2>BEST SELLING LAPTOPS</h2>
        </div>
        <a href="{% url 'laptops' %}">
            <div class="show-all-laptops">
                <span>View All Laptops</span>
            </div>  
        </a>  
    </div>
    
    <div class="text-laptops-m">
        <h2>BEST SELLING LAPTOPS</h2>
    </div>
    <a href="{% url 'laptops' %}">
        <div class="show-all-laptops-m">
            <span>View All Laptops</span>
        </div>
    </a>
    <div class="show_products laptops">
        <div class="arrow-next"><span>&#x2192;</span></div>
        <div class="arrow-prev"><span>&#x2190;</span></div>
        <div class="product-carousel">
            <div class="cards-container">
                {% for laptop in laptops|slice:":10" %}
                    <div class="card_product">
                        <a href="{% url 'product' laptop.id %}">
                            <img src="{{laptop.primary_img.url}}">
                            <h2>{{laptop.name}}</h2>
                            <span class="product-price">{{laptop.get_format_price}}</span>
                        </a>
                        <span class="span-stock"> &#x2713; Stock</span>
                        <a class="add-cart" href="#" data-product-id="{{ laptop.id }}">Add to cart</a>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="line-separator"></div>

    <div class="wrapper-extras">
        <div class="text-keyboards">
            <h2>BEST SELLING KEYBOARDS</h2>
        </div>
        <a href="{% url 'keyboards' %}">
            <div class="show-all-keyboards">
                <span>View All Keyboards</span>
            </div>
        </a>
          
    </div>
    
    
    <div class="text-keyboards-m">
        <h2>BEST SELLING KEYBOARDS</h2>
    </div>
    <div class="show-all-keyboards-m">
        <a href="{% url 'keyboards' %}">View All Keyboards</a>
    </div>
    <div class="show_products keyboards">
        <div class="arrow-next"><span>&#x2192;</span></div>
        <div class="arrow-prev"><span>&#x2190;</span></div>
        <div class="product-carousel">
            <div class="cards-container">
                {% for keyboard in keyboards|slice:":10" %}
                    <div class="card_product">
                        <a href="{% url 'product' keyboard.id %}">
                            <img src="{{keyboard.primary_img.url}}">
                            <h2>{{keyboard.name}}</h2>
                            <span class="product-price">{{keyboard.get_format_price}}</span>
                        </a>
                        <span class="span-stock"> &#x2713; Stock</span>
                        <a class="add-cart" href="#" data-product-id="{{ keyboard.id }}">Add to cart</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    



    <!--Chatbot-->

    <div class="footer-home">
        <div class="container-creator">Created by FelipeMadeIt</div>
        <div class="line-social"></div>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/julian-felipe/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/felipemadeit" class="icon"><i class="fa-brands fa-github"></i></a>

        </div>
    </div>

    <div class="button-chat">
        <img src="{% static 'media/svg/ai.svg' %}" alt="image-bot">
    </div>
    
    <div class="windowBot" style="display: none;">
        <div class="top-bar">
            <img class="message-img"
                src="https://api.dicebear.com/9.x/bottts/svg?seed=Spooky&radius=50&baseColor=fb8c00&eyes=roundFrame01&face=square01&mouth=diagram&sides=antenna02&texture=circuits&textureProbability=100"
                alt="avatar" />
            <span class="span-name">PC Guru</span>
            <img class="online-img" src="{% static 'media/svg/circle-check.svg' %}">
            <img class="close-img" src="{% static 'media/svg/maximize.svg' %}" alt="close-svg">
        </div>
        
        <div class="chat-content" id="chat-content">
            <ul>
                <li class="loading">
                  <i></i>
                  <h4>Cargando...</h4>
                  <h5>Esto puede tardar un poco. Paciencia.</h5>
                </li>
              </ul>
            </main>
          
            <form>
              <input placeholder="Escribe tu mensaje aquí...">
              <button disabled>Enviar</button>
            </form>
          
            <small>&nbsp;</small>
          
            <template id="message-template">
              <li class="message">
                <span></span>
                <p></p>
              </li>
            </template>
    </div>
    
    <template id="message-template">
        <div class="message">
            <span></span>
            <p></p>
        </div>
    </template>
    
    

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts/horizontalScroll.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/autoScroll.js' %}"></script>
    <script src="{% static 'scripts/windowBot.js' %}"></script>
    <script type="module">
        /* 
        en el vídeo usamos "https://esm.run/@mlc-ai/web-llm"
        el problema es que eso siempre es la versión más reciente
        en el código usamos https://cdn.jsdelivr.net/npm/@mlc-ai/web-llm@0.2.46/+esm
        para fijar la versión */
        import { CreateWebWorkerMLCEngine } from "https://cdn.jsdelivr.net/npm/@mlc-ai/web-llm@0.2.46/+esm"
    
        const $ = el => document.querySelector(el)
    
        // pongo delante de la variable un símbolo de $
        // para indicar que es un elemento del DOM
        const $form = $('form')
        const $input = $('input')
        const $template = $('#message-template')
        const $messages = $('ul')
        const $container = $('main')
        const $button = $('button')
        const $info = $('small')
        const $loading = $('.loading')
    
        let messages = []
        let end = false
    
        const SELECTED_MODEL = 'Llama-3-8B-Instruct-q4f32_1-MLC-1k'
    
        const engine = await CreateWebWorkerMLCEngine(
          new Worker('./worker.js', { type: 'module' }),
          SELECTED_MODEL,
          {
            initProgressCallback: (info) => {
              $info.textContent = info.text
              if (info.progress === 1 && !end) {
                end = true
                $loading?.parentNode?.removeChild($loading)
                $button.removeAttribute('disabled')
                addMessage("¡Hola! Soy un ChatGPT que se ejecuta completamente en tu navegador. ¿En qué puedo ayudarte hoy?", 'bot')
                $input.focus()
              }
            }
          }
        )
    
        $form.addEventListener('submit', async (event) => {
          event.preventDefault()
          const messageText = $input.value.trim()
    
          if (messageText !== '') {
            // añadimos el mensaje en el DOM
            $input.value = ''
          }
    
          addMessage(messageText, 'user')
          $button.setAttribute('disabled', '')
    
          const userMessage = {
            role: 'user',
            content: messageText
          }
    
          messages.push(userMessage)
    
          const chunks = await engine.chat.completions.create({
            messages,
            stream: true
          })
    
          let reply = ""
    
          const $botMessage = addMessage("", 'bot')
    
          for await (const chunk of chunks) {
            const choice = chunk.choices[0]
            const content = choice?.delta?.content ?? ""
            reply += content
            $botMessage.textContent = reply
          }
    
          $button.removeAttribute('disabled')
          messages.push({
            role: 'assistant',
            content: reply
          })
          $container.scrollTop = $container.scrollHeight
        })
    
        function addMessage(text, sender) {
          // clonar el template
          const clonedTemplate = $template.content.cloneNode(true)
          const $newMessage = clonedTemplate.querySelector('.message')
    
          const $who = $newMessage.querySelector('span')
          const $text = $newMessage.querySelector('p')
    
          $text.textContent = text
          $who.textContent = sender === 'bot' ? 'GPT' : 'Tú'
          $newMessage.classList.add(sender)
    
          $messages.appendChild($newMessage)
    
          $container.scrollTop = $container.scrollHeight
    
          return $text
        }
      </script>
    

{% endblock %}